@import "../../css-config/mixins.scss";
// This is Called nested css and it boost the speed of writing css
.main-header{
    width: 100%;
    padding: 0 20px;
    background-color: #212121;
    color: rgb(255, 255, 255);
    border-bottom: 1px solid rgba(0,0,0,0.1);
    z-index: 99;
    @include md {
        padding: 0 40px;
    }
    .header-content{
        display: flex; // to stack the lef, center and right div in horizontal manner 
        justify-content: space-between; // to distribute the equal space arround the flex items
        align-items: center; // to align the div in vertically in center
        height: 50px; 
        max-width: 1200px;
        margin: 0 auto;   // 0 for above and below and auto for putting div in center
        @include md{
            height: 80px;
        }
        .left{
            list-style-type: none;  // to remove the dot style in list items
            display: none;
            gap: 25px;
            @include md{
                display: flex;  
            }
            li{
                font-size: 14px;
                font-weight: 800;
                text-transform: uppercase;
                cursor: pointer;
            }
        }
        .center{
            font-size: 22px;
            font-weight: 900;
            cursor: pointer;
            color: aquamarine;
            @include md{
                font-size: 32px;
                position: absolute;
                left: 50%;   // giving left space 50% from left 
                transform: translateX(-50%);    // after applying above css logo is shifted 50% left and now this will shift logo in center
            }
        }
        .right{
            display: flex;
            align-items: center;
            gap: 20px;
            @include md{
                gap: 25px;
            }
            svg{
                font-size: 20px;
                cursor: pointer;
                @include md{
                    font-size: 24px;
                }
            }
            .cart-icon{
                position: relative;
                span{
                    min-width: 20px;
                    text-align: center;
                    background-color: #8e2de2;
                    padding: 2.5px;
                    position: absolute;
                    top: -5px;
                    right: -12px;
                    font-size: 12px;
                    line-height: 1;
                    border-radius: 10px;
                }
            }
        }
    }
    &.sticky-header{
        position: sticky;
        top: 0;
        animation: stickyHeader 0.3s ease forwards;
         transform: translateY(-80px);
        
    }
}
@keyframes stickyHeader {
    0% { transform: translateY(-80px);}
    100% { transform: translateY(0);}
    
}

